target/
.project
.classpath
.settings/
.svn/
bin/
# Intellij
*.ipr
*.iml
.idea
out/
.DS_Store
/bootstrap
/dependencies.xml
.java-version
/javadoc-options-javadoc-resources.xml
.checkstyle

# Generated integration-test repositories and doclets.
src/it/mrm/*/_*.jar
